
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgba(64, 120, 0, 1);
  background: rgb(218, 239, 194);
}

path {
  fill: transparent;

}
.curve {
  fill: none;
  stroke-opacity: transparent
}
text {
  fill: rgba(64, 120, 0, 1);
}
.svg-container svg {
  width: 100%;
  height: 300vh;
  aspect-ratio: 1000 / 800;
  display: block;
}
.svg-container {
  overflow-y: scroll;
  border: 1px solid black;
}
